<header class="panel-cover {{#if post}}panel-cover--collapsed{{/if}}" {{#if @site.cover_image}}style="background-image: url({{@site.cover_image}})"{{/if}}>
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        {{#if @blog.logo}}
        <a href="{{@blog.url}}" title="前往 {{@blog.title}} 的主页"><img src="{{@blog.logo}}" width="80" alt="{{@blog.title}} logo" class="panel-cover__logo logo" /></a>
        {{/if}}
        <h1 class="panel-cover__title panel-title"><a href="{{@blog.url}}" title="前往 {{@blog.title}} 的主页">{{@blog.title}}</a></h1>
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">{{@blog.description}}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />

        <div class="navigation-wrapper">
          <div>
           {{> navigation}}
          </div>
          <div>
          {{> social}}
          </div>
        </div>

      </div>

    </div>

    <div class="panel-cover--overlay cover-blue"></div>
  </div>
</header>
