{{!< default}}

{{#post}}
  <article class="post-container post-container--single">
    <header class="post-header">
      <h1 class="post-title">{{{title}}}</h1>
    </header>
    <section class="{{post_class}}">
      {{content}}
    </section>
  </article>
  <div id="disqus_thread"></div>
<script async>
  var disqus_config = function () {
    this.page.url = "{{url absolute="true"}}";
    this.page.identifier = "ghost-{{comment_id}}"
  };
  (function isInChina(callback,timeout) {
    var url = 'https://graph.facebook.com/feed?callback=h';
    var xhr = new XMLHttpRequest();
    var called = false;
    xhr.open('GET', url);
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4 && xhr.status === 200) {
        called = true;
        callback(false);
      }
    };
    xhr.send();
    setTimeout(function() {
      if (!called) {
        xhr.abort();
        callback(true);
      }
    }, timeout);
  })(inChina=>{
    if(!inChina || !mno.disqus.gfw_check){
      var d = document, s = d.createElement('script');
      s.defer = "defer"
      s.src = mno.disqus.link
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    }

  },1000)
</script>
{{/post}}
