{{!< default}}

{{#post}}
  <article class="post-container post-container--single">
    <header class="post-header">
      <h1 class="post-title">{{{title}}}</h1>
    </header>
    <section class="{{post_class}}">
      {{content}}
    </section>
  </article>
  <div style="margin-top: 30px;margin-bottom: 30px;text-align: center;">
    <span id="disqus_btn" class="btn hidden" style="cursor:pointer" >Disqus</span>
  </div>
  <div id="disqus_thread"></div>
  <script async>

window.ready(()=>{
  document.querySelector("#disqus_btn").addEventListener('click',()=>{
    document.querySelector("#disqus_btn").classList.add('hidden');
    show_disqus();
  });


  {{#if @custom.disqus_link}}

    let disqus_config = function () {
      this.page.url = "{{url absolute="true"}}";
      this.page.identifier = "ghost-{{comment_id}}"
    };

      function hide_ads(){
        setInterval(()=>{
          let iframes= document.getElementsByTagName('iframe')
          for(let idx in iframes){
            let iframe=iframes[idx];
            if(iframe.title==='Disqus'&&!iframe.src){
              iframe.parentElement.removeChild(iframe)
            }
          }
        },1000)
      }


      function show_disqus_btn(){
        document.querySelector("#disqus_btn").classList.remove('hidden');
      }

      function show_disqus(){
        console.log("Facebook contected , disqus is shown.");
        var d = document, s = d.createElement('script');
        s.defer = "defer"
        s.src = "{{@custom.disqus_link}}"
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        hide_ads();
      }

      function hide_disqus_btn(){
	console.log("GFW detected , disqus is hidden.");
      }

      fetchRequest("https://graph.facebook.com/feed?callback=h",{},1000)
        .then(res=>{
	  if(res.status===200){
	    show_disqus_btn();
	  }else{
	    hide_disqus_btn();
	  }
	})
	.catch(e=>{
	   console.log(e);
	   hide_disqus_btn();
	})
  {{/if}}
});
</script>
{{/post}}

{{#if @custom.paragraph_indent }}
  <style scoped>
  article p {
    text-indent:2em
  }
  </style>
{{/if}}

<script defer type="text/javascript" src="{{asset "js/highlight-11.3.1.min.js"}}" onload="hljs.highlightAll()"></script>
