{{!< default}}

{{#post}}

  <article class="post-container post-container--single">

    <header class="post-header">
      <div class="post-meta">
        <time datetime="{{date format="YYYY MMM DD"}}" class="post-meta__date date">{{date format="YYYY MMM DD"}}</time> &#8226; <span class="post-meta__tags tags">{{tags}}</span>
        <span class="post-meta__author author"><img src="{{primary_author.profile_image}}" alt="profile image for {{primary_author.name}}" class="avatar post-meta__avatar" /> by {{primary_author.name}}</span>
      </div>
      <h1 class="post-title">{{{title}}}</h1>
    </header>

    <div id="toc"></div>
    <section id="toc-content" class="{{post_class}}">
      {{content}}
    </section>
  </article>

  <div class="post_navi">
  {{#prev_post}}
    <div class="prev_post">上一篇：<a href="{{url}}">{{title}}</a></div>
  {{/prev_post}}
  {{#next_post}}
    <div class="next_post">下一篇：<a href="{{url}}">{{title}}</a></div>
  {{/next_post}}
  </div>

  {{#has tag="MathJax"}}
    <script src='https://cdn.bootcss.com/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
        }
      });
    </script>
  {{/has}}
{{/post}}
<style>
  #toc {
    font-size: 10px;
  }
</style>
<script>
  tocbot.init({
    tocSelector: '#toc',
    contentSelector: '#toc-content',
    headingSelector: 'h1, h2, h3',
    hasInnerContainers: true,
  });
</script>
