{{!< default}}

{{#post}}

  <article class="post-container post-container--single">

    <header class="post-header">
      <div class="post-meta">
        <time datetime="{{date format="YYYY MMM DD"}}" class="post-meta__date date">{{date format="YYYY MMM DD"}}</time> &#8226; <span class="post-meta__tags tags">{{tags}}</span>
        <span class="post-meta__author author"><img src="{{primary_author.profile_image}}" alt="profile image for {{primary_author.name}}" class="avatar post-meta__avatar" /> by {{primary_author.name}}</span>
      </div>
      <h1 class="post-title">{{{title}}}</h1>
    </header>

    <div class="toc"></div>
    <section class="toc-content {{post_class}}">
      {{content}}
    </section>
  </article>

  <div class="post_navi">
  {{#prev_post}}
    <div class="prev_post">上一篇：<a style="display:inline-block;max-width:300px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis" href="{{url}}">{{title}}</a></div>
  {{/prev_post}}
  {{#next_post}}
    <div class="next_post">下一篇：<a style="display:inline-block;max-width:300px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis" href="{{url}}">{{title}}</a></div>
  {{/next_post}}
  </div>

  {{#has tag="MathJax"}}
    <script src='https://cdn.bootcss.com/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
        }
      });
    </script>
  {{/has}}
  <div style="margin-top: 30px;margin-bottom: 30px;text-align: center;">
    <span id="disqus_btn" class="btn hidden" style="cursor:pointer" >Disqus</span>
  </div>
  <div id="disqus_thread"></div>
<style>
  .toc {
    font-size: 12px;
  }
</style>

{{#if @custom.disqus_link}}
<script defer type="text/javascript" src="{{asset 'js/disqus.js'}}" onload="disqus_init({
  btn: '#disqus_btn',
  link: '{{ @custom.disqus_link}}'
})"></script>
{{/if}}

<script defer type="text/javascript" src="{{asset 'js/third_party/tocbot-4.11.1.min.js'}}" onload="tocbot.init({
    tocSelector: '.toc',
    contentSelector: '.toc-content',
    headingSelector: 'h1, h2, h3',
    hasInnerContainers: true,
  });"></script>
{{/post}}

{{#if @custom.paragraph_indent }}
  <style scoped>
   article p {
      text-indent:2em
    }
  </style>
{{/if}}

<script defer type="text/javascript" src="{{asset "js/third_party/highlight-11.3.1.min.js"}}" onload="hljs.highlightAll()"></script>
