{{!< default}}

{{#post}}

  <article>
    <header>
      <div class="post-meta">
        <time datetime="{{date format="YYYY MMM DD"}}" class="post-meta__date date">{{date format="YYYY MMM DD"}}</time> &#8226; <span class="post-meta__tags tags">{{tags}}</span>
        <span class="post-meta__author author"><img src="{{primary_author.profile_image}}" alt="profile image for {{primary_author.name}}" class="avatar post-meta__avatar" /> by {{primary_author.name}}</span>
      </div>
      <h1 class="post-title">{{{title}}}</h1>
    </header>

    <div class="toc"></div>
    <section class="toc-content {{post_class}}">
      {{content}}
    </section>
  </article>

  <div class="post_navi">
  {{#prev_post}}
    <div class="prev_post">{{t 'Prev Post'}}：<a href="{{url}}">{{title}}</a></div>
  {{/prev_post}}
  {{#next_post}}
    <div class="next_post">{{t 'Next Post'}}：<a href="{{url}}">{{title}}</a></div>
  {{/next_post}}
  </div>

  {{#has tag="MathJax"}}
    <script src='https://cdn.bootcss.com/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
        }
      });
    </script>
  {{/has}}
  <div class="disqus_btn"">
    <span class="disqus btn hidden" >Disqus</span>
  </div>
  <div id="disqus_thread"></div>
  <section id="isso-thread"></section>

{{#if @custom.disqus_link}}
<script defer src="{{asset 'js/disqus.js'}}" onload="disqus_init({
  btn: '.disqus',
  link: '{{{ @custom.disqus_link }}}'
})"></script>
{{/if}}

<script defer src="{{asset 'js/third_party/tocbot-4.11.1.min.js'}}" onload="tocbot.init({
    tocSelector: '.toc',
    contentSelector: '.toc-content',
    headingSelector: 'h1, h2, h3',
    hasInnerContainers: true,
  });"></script>
{{/post}}

<script defer src="{{asset "js/third_party/highlight-11.4.0.min.js"}}" onload="hljs.highlightAll()"></script>
<script data-isso="/isso/" src="/isso/js/embed.min.js"></script>

