{{!< default}}

{{#post}}

  <article class="post-container post-container--single">

    <header class="post-header">
      <div class="post-meta">
        <time datetime="{{date format="YYYY MMM DD"}}" class="post-meta__date date">{{date format="YYYY MMM DD"}}</time> &#8226; <span class="post-meta__tags tags">{{tags}}</span>
        <span class="post-meta__author author"><img src="{{primary_author.profile_image}}" alt="profile image for {{primary_author.name}}" class="avatar post-meta__avatar" /> by {{primary_author.name}}</span>
      </div>
      <h1 class="post-title">{{{title}}}</h1>
    </header>

    <section class="{{post_class}}">
      {{content}}
    </section>
  </article>

  {{#prev_post}}
    <span class="prev_post">上一篇：<a href="{{url}}">{{title}}</a></span>
  {{/prev_post}}
  {{#next_post}}
    <span class="next_post">下一篇：<a href="{{url}}">{{title}}</a></span>
  {{/next_post}}

  {{#has tag="MathJax"}}
    <script src='https://cdn.bootcss.com/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
        }
      });
    </script>
  {{/has}}
{{/post}}
